body {
    margin: 0;  
}
header {
    text-align: center;
    padding: 10px 10px;
    border-bottom: 30px solid  #062049;
    background: #062049;
    color: #fff;
}
.site-title {
    font-size: 1.0rem;
}
.container {
    padding: 0 20px;
}
.article-item {
    padding: 20px 0;
    border-bottom: 1px solid #ddd;
}
.article-title {
    margin-bottom: 10px;
    font-size: 0.9rem;
    font-weight: bold;
}
footer {
    padding: 20px;
    background: #062049;
    text-align: cente_r;
    font-size: 0.3rem;
    color: rgb(255, 255, 255);
    text-align: center;
}
ul.alert {
    padding: 15px 15px 15px 40px;
    border-radius: 4px;
    background: #f8d6d9;
    color: #721c24;
}
.article-info {
    font-size: .8rem;
    color: #777;
}
.article-body {
    margin: 1rem 0;
    padding: 1rem 0;
    border-top: 1px dotted #ddd;
    border-bottom: 1px dotted #ddd;
}
.article-control {
    display: flex;
    justify-content: space-between;
}