body {
    margin: 0;  
}
header {
    text-align: center;
    padding: 10px 10px;
    border-bottom: 30px solid  #062049;
    background: #062049;
    color: #fff;
    line-height: 1.2;
}
.site-title {
    font-size: 0.8rem;
}
.container {
    padding: 0 20px;
}
.article-item {
    padding: 20px 0;
    border-bottom: 1px solid #ddd;
}
.article-title {
    margin-bottom: 10px;
    font-size: 0.9rem;
    font-weight: bold;
}
footer {
    padding: 20px;
    background: #062049;
    text-align: cente_r;
    font-size: 0.3rem;
    color: rgb(255, 255, 255);
    text-align: center;
}
